\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/train-labels-idx1-ubyte
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/train-images-idx3-ubyte
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
\[2] Pytorch - Datasets and Dataloader/data/FashionMNIST/raw/t10k-images-idx3-ubyte
